{{- if and .Values.config.enabled .Values.config.contents }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ default (printf "%s-config" (include "effectusd.fullname" .)) .Values.config.name }}
  labels:
    {{- include "effectusd.labels" . | nindent 4 }}
data:
  {{ .Values.config.key }}: |
{{ .Values.config.contents | indent 4 }}
{{- end }}
