apiVersion: v1
kind: Service
metadata:
  name: {{ include "effectusd.fullname" . }}
  labels:
    {{- include "effectusd.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
    - name: metrics
      port: {{ .Values.service.metricsPort }}
      targetPort: metrics
  selector:
    {{- include "effectusd.selectorLabels" . | nindent 4 }}
